@import "../css/default/reset";
@import "../css/default/fonts";
@import "../css/icons/font";
@import "../css/default/colors";
@import "../css/default/animate";

@import "../css/components/header-menu";
@import "../css/components/menu";
@import "../css/components/footer";

@import "../css/default/common-media";

// NEEDED STYLES
* {
  box-sizing: border-box;
}
.navheader {
  background: $black;
}

// main
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 100px 30px;
}
.main-text {
  padding-right: 10px;
}
.main-title {
  font-family: Poppins, sans-serif;
  font-weight: 600;
  font-size: 32px;
}
.main-description {
  color: $gray5;
  font-family: Lato, sans-serif;
  margin: 25px 0;
  line-height: 20px;
}
.box {
  display: flex;
  margin-bottom: 20px;
}
.box-text {
  padding: 10px;
}
.box-img {
  width: 40px;
  height: 40px;
}
.box-title {
  font-size: 18px;
  margin-bottom: 5px;
  font-family: Poppins, sans-serif;
  font-weight: 600;
}
.box-description {
  font-family: Lato, sans-serif;
}
#contact {
  border: 1px solid $gray-ish;
  padding: 30px;
}
.contact-input,
.contact-textarea {
  width: 100%;
  padding: 15px 5px;
  outline: 0;
  border: 0;
  border: 1px solid rgba(#cdcdcc, 0);
  border-top: 1px solid rgba(#cdcdcc, 1);
  transition: border 0.3s ease-out;
  margin-bottom: 10px;
  &:hover {
    border: 1px solid rgba(#cdcdcc, 1);
    transition: border 0.25s ease-out;
  }
}
.contact-textarea {
  resize: vertical;
}
.contact-submit {
  width: 100%;
  outline: 0;
  border: 0;
  font-family: Lato, sans-serif;
  padding: 15px 0;
  font-size: 16px;
  background: $gold;
  color: $white;
  cursor: pointer;
  transition: background 0.3s ease-out;
  &:hover {
    background: $dark_grey;
    transition: background 0.3s ease-out;
  }
}
@media screen and (min-width: 1024px) {
  .main {
    flex-direction: row;
    max-width: 1200px;
    margin: 0 auto;
  }
}