@import "../css/default/reset";
@import "../css/default/fonts";
@import "../css/icons/font";
@import "../css/default/colors";
@import "../css/default/animate";

@import "../css/components/header-menu";
@import "../css/components/main";
@import "../css/components/menu";
@import "../css/components/information-grid";
@import "../css/components/about";
@import "../css/components/more-about";
@import "../css/components/gallery";
@import "../css/components/contact";
@import "../css/components/footer";
@import "../css/default/common-media";

@media screen and (min-width: 750px) {
  .main {
    height: 100vh;
  }
  .main__box {
    height: calc(100vh - 350px);
    padding: 0px 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .main__content-textbox {
    text-align: center;
  }
  .main__content-textbox * {
    margin: 15px 0;
  }
  .main__content-subtitle {
    font-size: 17px;
  }
  .main__content-title {
    font-size: 80px;
    line-height: 90px;
    text-align: center;
  }
  .information-grid {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .box {
      max-width: 300px;
      margin: 0 15px;
    }
  }
  .about {
    display: flex;
    align-items: center;
  }
  .about__image {
    width: 80%;
  }
  .about__text {
    padding: 0 10px 0 10px;
  }
  .gallery__images {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    img {
      max-width: 100%;
    }
    figure {
      display: inline-block;
      width: 50%;
    }
  }
  .footer-text{
    margin: 0 auto;
    max-width: 500px;
  }
}
@media screen and (min-width: 1024px) {
  .main__content-title {
    font-size: 100px;
    max-width: 1160px;
  }
  .main__content-paragraph {
    max-width: 600px;
    margin: 15px auto;
  }

  .title {
    font-size: 50px;
    line-height: 50px;
  }
  .gallery__images {
    align-items: center;
    justify-content: center;
    figure {
      width: 28%;
    }
  }
  .about,
  .more-about-wrapper,
  .gallery-wrapper,
  .contact-wrapper {
    max-width: 1200px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1024px) {
  .more-about__description {
    font-size: 16px;
  }
}
.info {
  width: 100%;
  padding: 35px 25px;
  background: $gold;
}
.info-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  color: $white;
  text-align: center;
}
.info-title {
  font-family: Poppins, sans-serif;
  font-size: 42px;
  font-weight: 600;
  margin-bottom: 20px;
}
@media screen and (min-width: 1024px) {
  .info {
    padding: 50px;
  }
  .info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .info-title {
    margin: 0;
  }
}