@import "../css/default/reset";
@import "../css/default/fonts";
@import "../css/icons/font";
@import "../css/default/colors";
@import "../css/default/animate";

@import "../css/components/header-menu";
@import "../css/components/menu";
@import "../css/components/footer";

@import "../css/default/common-media";

.gold-btn {
  border: 2px solid $gold;
  color: $gold;
  margin: 15px auto;
}
.navheader {
  background: $black;
}

// MAIN
.main {
  max-width: 1100px;
  font-family: "Lato", sans-serif;
  margin: 0 auto;
  padding-bottom: 50px;
}
.main-wrapper {
  padding: 50px 15px;
  background: $verylight-gray;
}
.main-text {
  padding-right: 10px;
}
.main-subtitle {
  font-family: Lato, sans-serif;
  font-weight: 400;
  color: $gold;
  font-size: 28px;
  margin-bottom: 10px;
}
.main-title {
  font-family: Poppins, sans-serif;
  font-weight: 700;
  font-size: 38px;
  color: $black;
  margin: 10px 0 25px 0;
}
.main-description {
  color: $gray5;
  line-height: 28px;
}
.main-image-wrapper {
  position: relative;
}
.main-img {
  width: 100%;
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.25);
}
.dimensions {
  padding: 10px;
}
.dimensions-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.more-info {
  padding: 25px 15px;
  background: $verylight-gray;
}
.more-info-description {
  font-size: 18px;
  line-height: 28px;
  color: $gray5;
  margin-bottom: 20px;
  text-indent: 15px;
}
.smaller {
  font-size: 28px;
  line-height: 34px;
}
strong {
  font-weight: bold;
}
.tags {
  margin: 20px 0;
}
.tags-title {
  font-family: Lato, sans-serif;
  font-size: 22px;
  margin-bottom: 10px;
}
.tag {
  margin: 2.5px;
  display: inline-block;
  background: $gold;
  border-radius: 20px;
  padding: 5px 10px;
  color: $white;
  font-family: Poppins, sans-serif;
  font-weight: 700;
}
.info {
  width: 100%;
  padding: 35px 25px;
  background: $gold;
}
.info-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  color: $white;
  text-align: center;
}
.info-title {
  font-family: Poppins, sans-serif;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 20px;
}
@media screen and (min-width: 840px) {
  .dimensions {
    border-left: 4px solid rgba($gray5, 0.15);
  }
  .main-wrapper {
    display: flex;
  }
  // .left,
  // .right {
  //   flex-grow: 1;
  //   flex-basis: 0;
  // }
  .info {
    padding: 50px;
  }
  .info-title {
    font-size: 38px;
  }
  .info-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .info-title {
    margin: 0;
  }
}