.gallery {
  padding: 100px 30px 35px 30px;
}
.gallery__title {
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
}
.gallery__description {
  font-family: Lato, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $gray5;
  opacity: 0.8;
}
.gallery__images {
  max-width: 1200px;
  margin: 0 auto;
  padding-bottom: 100px;
  text-align: center;
  // background: $dark_grey;
}
.gallery__button {
  color: $dark_grey;
  border: 2px solid $dark_grey;
  font-weight: 600;
}
.gallery__figure {
  margin: 10px;
}
.gallery__images img {
  width: 100%;
  // box-shadow: 2px 2px 20px rgba($black, 0.5);
}
